@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
body { background-color: black }
h1 { 
    text-align: center; 
    color: #3A86FF; 
    font-family: fantasy;
    font-size: 2em;
    position: absolute;
    left: 525px;
}
h2 {
     font-family: PermanentMarker; 
     font-size: 1.5em;
    }
li { list-style: none; }
#link, #link a { 
    color: #FF006E;
}
ul, #citazioni p { 
    padding: 1em 0.5em; 
    font-size: 15px;
}
ul, h2, #citazioni p { 
    border: solid; 
    border-radius: 10px;
    height: auto; 
    width: 200px;
    text-align: center;
}
#link {
    position: absolute;
    top: 150px;
    left: 200px;
}
#link a { 
    font-family: fantasy;
 }
#interessi { 
    color: #FB5607;
    font-family: fantasy;
    position: absolute;
    top: 500px;
    left: 200px;
}
#citazioni { 
    color: #af89e5;
    font-family: fantasy;
    position: absolute;
    top: 300px;
    left: 900px;
}
#avatar img { 
    height: auto; 
    width: 200px;
    border: 5px solid #3A86FF;
    border-radius: 10px;
    padding: 0.5em;
    position: absolute;
    top: 200px;
    left: 525px;
}
#avatar { text-align: center; }

@media (max-width: 700px) {
    #link, h1, #avatar img, #interessi, #citazioni  {
      position: static;
    }
    #link h2, #link ul, #interessi h2, #interessi ul, #citazioni h2, #citazioni p {
      margin: 1em auto;
    }
}