@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
body { background-color: black }
h1 { 
    text-align: center; 
    color: #3A86FF; 
    font-family: fantasy; 
}
h2 { font-family: PermanentMarker; }
li { list-style: none; }
#link, #link a { color: #FF006E; }
ul, #citazioni p { padding: 1em 0.5em; }
ul, h2, #citazioni p { 
    border: solid; 
    border-radius: 10px;
    height: auto; 
    width: 200px;
    text-align: center;
}
#link a { font-family: fantasy; }
#interessi { 
    color: #FB5607;
    font-family: fantasy;
}
#citazioni { 
    color: #8338EC;
    font-family: fantasy;
}
#avatar img { 
    height: auto; 
    width: 200px;
    border: 5px solid #3A86FF;
    border-radius: 10px;
    padding: 0.5em;
}
#avatar { text-align: center; }